* {
  margin: 0;
  padding: 0;
}

.Pr5600 {
  margin: 20px;
  width: 250px;
  align-items: center;
  height: 250px;
}
.Pr5600 figure {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 10px 5px 20px, rgb(109, 108, 108);
  cursor: pointer;
}
.Pr5600 figure img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-out;
}
.Pr5600 figure div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  background: 11, 103, 123, 0.6;
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.Pr5600 figure div h3 {
  color: rgb(255, 0, 0);
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 300ms ease-out;
  margin-top: 30px;
}
.Pr5600 figure:hover > .Procesadores {
  opacity: 1;
  visibility: visible;
}
.Pr5600 figure:hover > .Procesadores h3 {
  text-align: center;
  margin-top: 90px;
  text-decoration: underline;
  font-size: 30px;
}
.Pr5600:hover {
  scale: 1.1;
  transition: 0.5s;
}

.PrVideos {
  margin: 20px;
  width: 250px;
  align-items: center;
  height: 250px;
}
.PrVideos figure {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 2px 10px, rgb(109, 108, 108);
  cursor: pointer;
}
.PrVideos figure img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-out;
}
.PrVideos figure div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: 11, 103, 123, 0.6;
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.PrVideos figure div h3 {
  color: rgb(255, 0, 0);
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 300ms ease-out;
  margin-top: 30px;
}
.PrVideos figure:hover > .Procesadores {
  opacity: 1;
  visibility: visible;
}
.PrVideos figure:hover > .Procesadores h3 {
  text-align: center;
  margin-top: 90px;
  text-decoration: underline;
  font-size: 30px;
}
.PrVideos:hover {
  scale: 1.1;
  transition: 0.5s;
}

.PrFuentes {
  margin: 20px;
  width: 250px;
  align-items: center;
  height: 250px;
}
.PrFuentes figure {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 2px 10px, rgb(109, 108, 108);
  cursor: pointer;
}
.PrFuentes figure img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-out;
}
.PrFuentes figure div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: 11, 103, 123, 0.6;
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.PrFuentes figure div h3 {
  color: rgb(255, 0, 0);
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 300ms ease-out;
  margin-top: 30px;
}
.PrFuentes figure:hover > .Procesadores {
  opacity: 1;
  visibility: visible;
}
.PrFuentes figure:hover > .Procesadores h3 {
  text-align: center;
  margin-top: 90px;
  text-decoration: underline;
  font-size: 30px;
}
.PrFuentes:hover {
  scale: 1.1;
  transition: 0.5s;
}

.PrMouses {
  margin: 20px;
  width: 250px;
  align-items: center;
  height: 250px;
}
.PrMouses figure {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 2px 10px, rgb(109, 108, 108);
  cursor: pointer;
}
.PrMouses figure img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-out;
}
.PrMouses figure div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: 11, 103, 123, 0.6;
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.PrMouses figure div h3 {
  color: rgb(255, 0, 0);
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 300ms ease-out;
  margin-top: 30px;
}
.PrMouses figure:hover > .Procesadores {
  opacity: 1;
  visibility: visible;
}
.PrMouses figure:hover > .Procesadores h3 {
  text-align: center;
  margin-top: 90px;
  text-decoration: underline;
  font-size: 30px;
}
.PrMouses:hover {
  scale: 1.1;
  transition: 0.5s;
}

.PrGabinetes {
  margin: 20px;
  width: 250px;
  align-items: center;
  height: 250px;
}
.PrGabinetes figure {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 2px 10px, rgb(109, 108, 108);
  cursor: pointer;
}
.PrGabinetes figure img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-out;
}
.PrGabinetes figure div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: 11, 103, 123, 0.6;
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.PrGabinetes figure div h3 {
  color: rgb(255, 0, 0);
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 300ms ease-out;
  margin-top: 30px;
}
.PrGabinetes figure:hover > .Procesadores {
  opacity: 1;
  visibility: visible;
}
.PrGabinetes figure:hover > .Procesadores h3 {
  text-align: center;
  margin-top: 90px;
  text-decoration: underline;
  font-size: 30px;
}
.PrGabinetes:hover {
  scale: 1.1;
  transition: 0.5s;
}

.PrMousePads {
  margin: 20px;
  width: 250px;
  align-items: center;
  height: 250px;
}
.PrMousePads figure {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 2px 10px, rgb(109, 108, 108);
  cursor: pointer;
}
.PrMousePads figure img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-out;
}
.PrMousePads figure div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: 11, 103, 123, 0.6;
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.PrMousePads figure div h3 {
  color: rgb(255, 0, 0);
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 300ms ease-out;
  margin-top: 30px;
}
.PrMousePads figure:hover > .Procesadores {
  opacity: 1;
  visibility: visible;
}
.PrMousePads figure:hover > .Procesadores h3 {
  text-align: center;
  margin-top: 90px;
  text-decoration: underline;
  font-size: 30px;
}
.PrMousePads:hover {
  scale: 1.1;
  transition: 0.5s;
}

.PrRams {
  margin: 20px;
  width: 250px;
  align-items: center;
  height: 250px;
}
.PrRams figure {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 2px 10px, rgb(109, 108, 108);
  cursor: pointer;
}
.PrRams figure img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-out;
}
.PrRams figure div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: 11, 103, 123, 0.6;
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.PrRams figure div h3 {
  color: rgb(255, 0, 0);
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 300ms ease-out;
  margin-top: 30px;
}
.PrRams figure:hover > .Procesadores {
  opacity: 1;
  visibility: visible;
}
.PrRams figure:hover > .Procesadores h3 {
  text-align: center;
  margin-top: 90px;
  text-decoration: underline;
  font-size: 30px;
}
.PrRams:hover {
  scale: 1.1;
  transition: 0.5s;
}

.PrB450m {
  margin: 20px;
  width: 250px;
  align-items: center;
  height: 250px;
}
.PrB450m figure {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 2px 10px, rgb(109, 108, 108);
  cursor: pointer;
}
.PrB450m figure img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-out;
}
.PrB450m figure div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: 11, 103, 123, 0.6;
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.PrB450m figure div h3 {
  color: rgb(255, 0, 0);
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 300ms ease-out;
  margin-top: 30px;
}
.PrB450m figure:hover > .Procesadores {
  opacity: 1;
  visibility: visible;
}
.PrB450m figure:hover > .Procesadores h3 {
  text-align: center;
  margin-top: 90px;
  text-decoration: underline;
  font-size: 30px;
}
.PrB450m:hover {
  scale: 1.1;
  transition: 0.5s;
}

.PrTeclados {
  margin: 20px;
  width: 250px;
  align-items: center;
  height: 250px;
}
.PrTeclados figure {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 2px 10px, rgb(109, 108, 108);
  cursor: pointer;
}
.PrTeclados figure img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-out;
}
.PrTeclados figure div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: 11, 103, 123, 0.6;
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.PrTeclados figure div h3 {
  color: rgb(255, 0, 0);
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 300ms ease-out;
  margin-top: 30px;
}
.PrTeclados figure:hover > .Procesadores {
  opacity: 1;
  visibility: visible;
}
.PrTeclados figure:hover > .Procesadores h3 {
  text-align: center;
  margin-top: 90px;
  text-decoration: underline;
  font-size: 30px;
}
.PrTeclados:hover {
  scale: 1.1;
  transition: 0.5s;
}

.mainContactos {
  margin-bottom: 100px;
  width: 100%;
}

.tituloContactos {
  width: 100%;
}
.tituloContactos h1 {
  width: 450px;
  text-align: center;
}

.redes {
  width: 450px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.redes a img {
  width: 100px;
  margin: 20px;
  border-radius: 50px;
}

.formContactos {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 40px;
  padding: 40px;
  border-radius: 50px;
  width: 500px;
  height: 500px;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.formContactos h2 {
  grid-area: Formulario;
}
.formContactos label {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.formContactos label:nth-child(2) {
  grid-area: nombre;
}
.formContactos label:nth-child(3) {
  grid-area: apellido;
}
.formContactos label:nth-child(4) {
  grid-area: consulta;
}
.formContactos label:nth-child(5) {
  grid-area: telefono;
}
.formContactos label input {
  background-color: rgba(0, 0, 0, 0.87);
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  color: rgb(255, 255, 255);
}
.formContactos .sendbtn {
  grid-area: boton;
}
.formContactos input {
  outline: none;
  border: 1px solid;
}
.formContactos textarea {
  margin: auto;
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  font-size: small;
}

.sendbtn {
  text-align: center;
}

.subt {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  text-align: center;
  position: relative;
}

.formTCN label {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.formTCN input {
  outline: none;
  border: none;
  border-bottom: 1px solid red;
}
.formTCN textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid red;
}

@media (max-width: 990px) {
  .tituloContactos {
    width: 100%;
  }
  .tituloContactos h1 {
    width: 100%;
    font-size: 24px;
  }
  .redes {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .redes a img {
    width: 50px;
    margin: 15px;
    border-radius: 50px;
  }
}
@media (max-width: 510px) {
  .tituloContactos {
    text-align: center;
    height: 130px;
  }
  .formContactos {
    width: 75%;
  }
  .sendbtn {
    display: flex;
    padding: 10px;
    margin-top: 20px;
  }
  .sendbtn input {
    width: 50%;
    height: 50%;
    font-size: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 438) {
  .formContactos h3 {
    color: red;
  }
}
.Marcas {
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: large;
  background-color: rgb(0, 0, 0);
  position: relative;
}

.carrouselCards {
  display: flex;
  justify-content: space-evenly;
}

.carousel-inner {
  margin-bottom: 50px;
}

.carousel-item {
  transition: transform 1s ease, opacity 0.9s ease-out;
}

.card img {
  max-width: 100%;
  max-height: 200px;
}

@media (max-width: 550px) {
  .carrouselCards p {
    margin-left: -900px;
  }
}
.mainPr {
  width: 75%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.headerIndex {
  background-image: url(../img/bannerIndex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.headerIndex h1 {
  background-color: rgb(0, 0, 0);
  opacity: 80%;
}

nav {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header h4 {
  text-align: center;
  margin: auto;
  background-color: rgb(1, 120, 255);
  color: rgb(255, 255, 255);
  height: 80px;
  width: 15%;
  margin-top: 50px;
  padding: 25px;
}