.Comprar{
	@extend %BotonOfertas
}

.Comprar span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;

}

.Comprar::after {
    content: "";
    width: 123%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 40px);
    border-bottom: 40px solid #ff2828 ;
    border-right: 40px solid transparent;
    transition: .3s ease-in-out all;
}

.Comprar:hover::after {
    left: 0;
}