.carrouselCards {
	display: flex;
	justify-content: space-evenly;
}
.carousel-inner {
	margin-bottom: 50px;
	width: 100vw;
}
.carousel-item {
	transition: transform 1s ease, opacity .9s ease-out;
}
.card {
	img {
		max-width: 100%;
		max-height: 200px;
	}
}

@media (max-width:550px) {
	.carrouselCards {
		p {
			margin-left: -900px;
		}
	}
}