%BotonOfertas{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #141414;
    color: #fff;
    border: 5px solid;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


%card{
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition:  all 400ms ease;
}

%BtnIndex{
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    background: #141414;
    color: #fff;
    border: 5px solid;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

%sector-contacto{
   
    .container{
        font-family: "PT Sans",sans-serif !important;
        font-size: 13px;
        line-height: 22px;
        font-weight: 300;
        box-sizing: border-box;
        display: block;
        padding-top: 15px;
        padding-bottom: 20px;
        min-height: 30px;
        background: #232323;
        background-image: url(../images/background/bg-footer.jpg);
        background-repeat: repeat;
        background-position: top;
        color: #9c9c9c;
        color: white;
        & .row{
            & a{
            text-decoration: none;
            color: white;
        } 
        }
    }
    b{
        background-color:$background-color2;
        
    }
}
%mainIndex{
    margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 200px;
	margin-right: 200px;
	border: 1px solid rgba(128, 128, 128, 0.253);
	border-radius: 10px;
	box-shadow: 0px 1px 10px rgba(134, 134, 134, 0.973);
	& .clasesCarr{
		margin: 20px;
		text-align: center;
		display: flex;
		justify-content: center;
		
        width: fit-content;
        height: fit-content;
		margin-top: 50px;
    }
    
}
%containerIndex{
        display: flex;
        background-color: rgb(236, 234, 234);
        justify-content: space-around;
        flex-direction: row;
        padding: 50px;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 100%;
        & p{
            border: solid 1px grey;
            border-radius: 50px;
            width: 100%;
        }
       & div{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 75%;
            width: 100%;
    
            & b{
                width:100%;
                font-size: 28px;
            }
        }
       
        
        & h3{
    
            color: $color3;
            & i{
                color: $color3;
            }
        }
        & span{
            color: $color3;
            font-size: 28px;
    
            & i{
                color:$color3;
                font-size: 28px;
            }
        }
    }
%headerIndex{
            background-image: url(/assets/img/bannerIndex.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 400px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-self: center;
            align-content: center;
            align-items: center;
            color: $color1;
            text-decoration: underline;
        
            h1 {
                background-color: $background-color1;
                opacity: 80%;
            }
            img{
                width: 100%;
            }
}

%carrito{
    
        width: 40px;
        height: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 95%;
        margin-top: -20px;
        & a{
            color: white;
        }
        

    & :hover{
        background-color: rgb(3, 47, 97);
        transition: .7s;
        cursor: pointer;
        
        color: white;
    }
}

%headerofertas{
    h4 {
        margin: auto;
        background-color: $background-color2;
        color: $color1;
        height: 80px;
        width: 50%;
        margin-top: 50px;
        padding: 25px;
        display: flex;
        justify-content: center;
        text-align: center;
    }	
}
%filtroOfertas{
    border: 1px solid rgba(128, 128, 128, 0.336);
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
    width: 15%;
    height: fit-content;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    box-sizing: border-box;
    align-content: flex-start;
}
%cardsOfertas{
    margin: 50px;
    padding: 20px;
    border: 1px solid rgba(172, 172, 172, 0.212);
}