#formgarantia{
    display: flex;
    justify-content: center;
    margin-left: 200px;
}
.descripcion{
    margin-left: 100px;
    background-color: rgba(0, 127, 245, 0.336);
}

main section{
    margin-top: 100px;
}