
.headerIndex {
	background-image: url(../img/bannerIndex.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-self: center;
	align-content: center;
	align-items: center;
	color: $color1;
	text-decoration: underline;

	h1 {
		background-color: $background-color1;
		opacity: 80%;
	}
}
@media (max-width:898px){
	.headerIndex{
	margin: auto;
	margin-top: 20px;
	
	}
}