$color1: rgb(255, 255, 255);
$color2: rgba(0,0,0,.87);
$color4: rgb(255, 0, 0);
$background-color1: rgb(0, 0, 0);
$background-color2: rgb(1, 120, 255);
$background-color3: rgb(255, 255, 255);
$dropdown-link-hover-bg:  rgb(247, 6, 6);
$dropdown-link-hover-color: rgb(250, 4, 4);
$dropdown-link-color:rgb(247, 1, 1);