*{
	margin: 0;
	padding: 0;
}
@import "variables";
@import "pritems";
@import "contactos";
@import "marcas";
@import "carousel";
@import "mainPr";
@import "headerindex";
@import "card";
@import "extend";
@import "FormST";
@import "btnOfertas";
@import "btnIndex";
@import "containerIndex";
@import "sector-contacto";


nav {
	text-decoration: none;
	color: $color1;
	z-index: 1;
	
	& ul :hover{
		background-color: rgb(3, 47, 97);
		transition: 0.7s;
		
		& li :hover{
			background-color: rgb(3, 47, 97);
			transition: 0.7s;
		}
}
}
.carrito{
	width: 40px;
	height: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: 95%;
	margin-top: -20px;
	& a{
		color: white;
	}
	
}
.carrito:hover{
	background-color: rgb(3, 47, 97);
	transition: .7s;
	cursor: pointer;
	
	color: white;
}


header {
	h4 {
		
		margin: auto;
		background-color: $background-color2;
		color: $color1;
		height: 80px;
		width: 50%;
		margin-top: 50px;
		padding: 25px;
		display: flex;
		justify-content: center;
		text-align: center;
	}	
	
}

@media (max-width:534px){
	header{
		h4{
			text-align: center;
			height: 80px;
			width: 30%;
			margin-top: 50px;
			padding: 15px;
			
		
	}
}
}
@media (max-width:456px){
	header{
		h4{
			text-align: center;
			height: 60px;
			width: 100%;
			margin-top: 50px;
			padding: 12px;
			font-size: 20px;
			
		}
	}
}
	