*{
	margin: 0;
	padding: 0;
}
@import "variables";
@import "pritems";
@import "contactos";
@import "marcas";
@import "carousel";
@import "main";
@import "headerindex";


nav {
	text-decoration: none;
	color: $color1;
	z-index: 1;
	

	& ul :hover{
		background-color: rgb(3, 47, 97);
		transition: 0.7s;
		
		& li :hover{
			background-color: rgb(3, 47, 97);
			transition: 0.7s;
		}
	}
}

header {
	h4 {
		text-align: center;
		margin: auto;
		background-color: $background-color2;
		color: $color1;
		height: 80px;
		width: 15%;
		margin-top: 50px;
		padding: 25px;
	}
}